.number-rain-overlay {
  position: fixed;
  inset: 0;
  z-index: 9996; /* below popup, above site */
  pointer-events: none;

  /* contrast enhancer */
  background: radial-gradient(
    circle at center,
    rgb(255, 0, 51),
    rgb(237, 0, 0)
  );
}

.number-rain-overlay canvas {
  width: 100%;
  height: 100%;
}
